<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="test" connectionString="Data Source=DataStore.db;Version=3" />
	</connectionStrings>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA" />
		</TestRunner>
	</NUnit>
	<!--Verbose-->
	<!--<system.diagnostics>
		<sources>
			<source name="System.Transactions" switchValue="Information">
				<listeners>
					<add name="tx"
						type="Castle.Facilities.NHibernate.Tests.TxTraceListener, Castle.Facilities.NHibernate.Tests"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="Castle.Transactions" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.3.0.5012" newVersion="3.3.0.5012" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
</configuration>
