<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="test" connectionString="Data Source=DataStore.db;Version=3"/>
	</connectionStrings>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA" />
		</TestRunner>
	</NUnit>
	<!--Verbose-->
	<!--<system.diagnostics>
		<sources>
			<source name="System.Transactions" switchValue="Information">
				<listeners>
					<add name="tx"
						type="Castle.Facilities.NHibernate.Tests.TxTraceListener, Castle.Facilities.NHibernate.Tests"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->
</configuration>
